---
import Layout from "../../layouts/Layout.astro";
---


<Layout title="facilities">
    <section class="bg-maindark px-5 flex flex-col items-center">
        <h2 class="text-4xl text-slate-100 font-extrabold pt-16 pb-8 text-center">
            Hajj
        </h2>
        <div class="py-10 grid justify-center lg:grid-cols-2 md:grid-cols-2 gap-4">
            <img src="https://d3k6i7a9dcmfk4.cloudfront.net/p1.webp" alt="gov of pakistan" class="max-w-sm max-h-30"/>
            <img src="https://d3k6i7a9dcmfk4.cloudfront.net/p2.webp" alt="gov of pakistan" class="max-w-sm max-h-30"/>
            <img src="https://d3k6i7a9dcmfk4.cloudfront.net/p3.webp" alt="gov of pakistan" class="max-w-sm max-h-30"/>
            <img src="https://d3k6i7a9dcmfk4.cloudfront.net/p4.webp" alt="gov of pakistan" class="max-w-sm max-h-30"/>
        </div>
    </section>
    <section class="bg-maindark py-12 px-5">
        <div class="pb-16 bg-maindark mx-auto text-center">
            <!-- Heading -->
            <h2 class="text-4xl text-slate-100 font-extrabold pt-16 pb-8 text-center">
            Hajj Services
            </h2>
          
        
            <p class="pt-3 text-base text-slate-300 sm:px-24 px-10 items-start">
                We conduct training programmes for Hujjaj at different places from time to time under the supervision of renowned religious scholars. Group introduction and orientation sessions are also arranged. We guide Hujjaj step-by-step during performing Hajj.
                <br/>
                Emad Travel & Tours (Pvt) Ltd, provides the following services and items to Hujjaj:
            </p>
            
        </div>
                
        <ul class="mb-8 flex flex-col flex-wrap items-start content-center space-y-4 text-left text-gray-500 dark:text-gray-400">
            <li class="flex space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>Ehram for Hujjaj/Abaya for ladies</span>
            </li>
            <li class="flex space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>Travelling Bag</span>
            </li>
            <li class="flex space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>Tawaf Tasbee</span>
            </li>
            <li class="flex space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>Guide book of Hajj & Umrah</span>
            </li>
            <li class="flex space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>Hotel Cards and Necessary Vaccinations for all Hujjaj</span>
            </li>
            <li class="flex space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>Arrangement of performing Qurbani</span>
            </li> 
            <li class="flex space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>Reception meal will be served to group at Muallam’s office</span>
            </li> 
            <li class="flex space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>Baggage of all Hujjaj will be delivered to their hotels</span>
            </li>
            <li class="flex space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span> Completion of papers in Saudi Arabia and issuance of visa on passport from Saudi Embassy</span>
            </li>
        </ul>

    </section>
    <section class="bg-maindark px-10 py-10">
        <h2 class="text-4xl text-slate-200 mb-10 font-bold text-center">
            Hajj Timeline
            </h2>
        <hr class="w-64 h-1 mx-auto mt-4 mb-10 bg-slate-500 border-0 rounded">
        <div class="p-5 mb-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
            <time class="text-lg font-semibold text-gray-900 dark:text-white">8th Zul Hajj</time>
            <ol class="mt-3 divide-y divider-gray-200 dark:divide-gray-700">
                <li>
                        <div class="text-gray-600 dark:text-gray-400">
                            <div class="text-sm font-normal">On the 8th Zul Haj, enter into Ihraam. All the conditions imposed of Ihraam are again imposed. Leave for Mina. It is sunnah to perform 5 Salaats at Mina; Zuhr, Asr, Magrib, Isha, are all to be performed on the 8 th Zul Haj.</div>
                        </div>
                </li>
            </ol>
        </div>
        <div class="p-5 mb-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
            <time class="text-lg font-semibold text-gray-900 dark:text-white">9th Zul Hajj</time>
            <ol class="mt-3 divide-y divider-gray-200 dark:divide-gray-700">
                <li>
                        <div class="text-gray-600 dark:text-gray-400">
                            <div class="text-sm font-normal">After spending the night at Mina perform Fajr salaat.
                                After sunrise, proceed to Arafat which is about 6 miles away. This is the greatest day- this is the day of Haj! Whilst in Arafat, make lots of zikr, recite the Quraan and pray standing facing Quibla. Perform Zuhr and Asr salaats together. You must remain in Arafat until sunset. After sunset leave for Muzdalifa.
                                Perform both Maghrib and Ishaa salaats together. Collect pebbles to pelt Jamaraat. It is advisable to collect 70 pebbles about the size of chick peas. Do not wash them.</div>
                        </div>
                </li>
            </ol>
        </div>
        <div class="p-5 mb-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
            <time class="text-lg font-semibold text-gray-900 dark:text-white">10th Zul Hajj</time>
            <ol class="mt-3 divide-y divider-gray-200 dark:divide-gray-700">
                <li>
                        <div class="text-gray-600 mb-3 dark:text-gray-400">
                            <div class="text-sm font-normal">After spending the night at Muzdalifa, perform Fajr salaat and intend to leave for Mina, just before sunrise.
                                Today 3 acts must be performed and must be performed in this order; Ramee (pelting) of Big Jamara only.
                                <ul>
                                    <li>Sacrifice of animals.</li>
                                    <li>Shaving/trimming of hair.</li>
                                    <li>Tawaaf-e- Ziyaarah. (This can be on 11th Zul Hajj)</li>
                                </ul>
                            </div>
                        </div>
                </li>
                <li>
                        <div class="text-gray-600 my-3 dark:text-gray-400">
                            <div class="text-base font-normal"><span class="font-medium text-gray-900 dark:text-white">RAMEE</span></div>
                            <div class="text-sm font-normal">Pelt Big Jamara only with 7 pebbles that were collected from Muzdalifa. The pebbles must be thrown one at a time and fall within the circular wall for them to be valid. If 7 are thrown at once that will count as 1 and 6 more will have to be thrown</div>
                        </div>
                </li>
                <li>
                        <div class="text-gray-600 my-3 dark:text-gray-400">
                            <span class="font-medium text-gray-900 dark:text-white">SACRIFICE</span>
                            <div class="text-sm font-normal">Perform Haj sacrifice. This is separate from the annual sacrifice.</div>
                        </div>
                </li>
                <li>
                        <div class="text-gray-600 my-3 dark:text-gray-400">
                            <span class="font-medium text-gray-900 dark:text-white">HALQ/QASR</span>
                            <div class="text-sm font-normal">After sacrifice trim or shave your hair (halaq/qasr). It is sunnat to shave the the hair in Mina. All restrictions imposed due to Ihraam will be lifted except sexual intercourse. This will be permitted after Tawaaf–e-Ziyaraat.</div>
                        </div>
                </li>
                <li>
                        <div class="text-gray-600 my-3 dark:text-gray-400">
                            <span class="font-medium text-gray-900 dark:text-white">TAWAAF-E-ZIYAARAT</span>
                            <div class="text-sm font-normal">Proceed to Makkah to perform Tawaaf –e-Ziyaarat. This can be performed on the 10th, 11th or up to sunset of 12th Zul Haj. This tawaaf is fardh and is the same as any other tawaaf. Perform Sai as well, in the usual manner. Return to Mina.</div>
                        </div>
                </li>
            </ol>
        </div>
        <div class="p-5 mb-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
            <time class="text-lg font-semibold text-gray-900 dark:text-white">11th Zul Hajj</time>
            <ol class="mt-3 divide-y divider-gray-200 dark:divide-gray-700">
                <li>
                        <div class="text-gray-600 dark:text-gray-400">
                            <div class="text-sm font-normal">Ramee must be performed with the pelting of all 3 Jamaraat. Pelt in this order; Small Shaytaan – Jamaraatul Oola. Pelt 7 times.
                                <ul>
                                    <li>Middle Shaytaan- Jamaraatul Wusta. Pelt 7 times.</li>
                                    <li>Big Shaytaan- Jamaraatul Aqaba. Pelt 7 times.</li>
                                </ul>                                
                                These pillars are not Shaytaans but represent the exact spot where Shaytaan came and created hindrances for Ibraheem alayhis salaam. Ramee must be performed personally by men and women.</div>
                        </div>
                </li>
            </ol>
        </div>
        <div class="p-5 mb-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
            <time class="text-lg font-semibold text-gray-900 dark:text-white">12th Zul Hajj</time>
            <ol class="mt-3 divide-y divider-gray-200 dark:divide-gray-700">
                <li>
                    
                        <div class="text-gray-600 dark:text-gray-400">
                            <div class="text-sm font-normal">
                                he main act of this day is the same as 11 th Zul Haj. Pelt all 3 shaytaans like before. After performing Ramee, leave for Makkah. If you remain in Mina till sunset, stay in Mina for another night and perform Ramme again then leave for Makkah.
                            </div>
                        </div>
                </li>
            </ol>
        </div>
    </section>
</Layout>
