---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
    <section id="vision">
          <!-- Container to heading and testm blocks -->
          <div class="max-w-6xl container pb-16 bg-slate-100 mx-auto text-center">
            <!-- Heading -->
            <h2 class="text-4xl font-extrabold pt-16 pb-8 text-center">
            Our Vision
            </h2>
          
        
            <p class="pt-3 text-base text-slate-800 sm:px-24 px-10 items-start">
                Our vision is to become client's first choice providing them efficient & effective quality services .We strive to be the most professional and customer responsive travel consultants by using our knowledge, experience and contacts in order to serve our customers with tailor-made solutions to all of your Hajj , Umrah & trveling journeys
            </p>
          
        </div>
    </section>
    <section id="msg">
        <!-- Container to heading and testm blocks -->
        <div class="container bg-slate-200 pt-16 pb-8 px-5 mx-auto text-center">
            <!-- Heading -->
            <h2 class="text-4xl font-bold text-center">
            Message from the CEO
            </h2>
            <hr class="w-64 h-1 mx-auto mt-4 mb-6 bg-slate-400 border-0 rounded">
            <!-- Testimonials Container -->
            <div class="flex flex-col pt-4 sm:flex-row">
            <!-- Testimonial 1 -->
            <div
                class="flex flex-col items-center sm:flex-row"
            >
            <img src="/hamid.png" class="shadow-2xl rounded-full h-auto align-middle border-none" alt="" />
                <div class="flex flex-col">
                <h5 class="text-lg font-bold">Hamid Younas</h5>
                <p class="text-sm mt-3 text-slate-800 sm:px-24 px-10 items-start">
                    Umrah & Hajj are only for Allah. Those who love Allah and have the capacity to spend in His way, they must perform Hajj & Umrah. I have vast experience in this field and my aim is to serve guests of Allah at my best. I myself accompany Hujjaj from the first day of Hajj till the last moment for providing expert guidance at all places and to ensure a comfortable journey.
                </p>
                </div>
            </div>
    
            </div>
    
        </div>
    </section>
    <section id="vision">
        <!-- Container to heading and testm blocks -->
        <div class="container bg-slate-100 mx-auto text-center">
          <!-- Heading -->
          <h2 class="text-4xl font-extrabold pt-8 pb-8 text-center">
          Our Mission
          </h2>
        
      
          <p class="pt-3 text-base text-slate-800 pb-16 sm:px-24 px-10 items-start">
            Our agency’s goal is to exceed your expectations and create travel memories unforgetable.
            At EMAD TRAVELS & TOURS we strive to make our clients HAJJ & Umrah journey spiritual & luxurious meeting their comfort levels and to the best value for their money ,
            
            <br/>
            <br/>
            We believe that the travel experience provides an incredible opportunity to connect with your spouse, your family, and your friends.
            EMAD Travels & Tours was established to provide a higher level of personalized and customized service for our clients. We care about our clients and work hard to provide you a level of service that you would not find with other agencies or with an online booking engine. We believe in the values of honesty, integrity, respect, and loyalty
            
          </p>
        
      </div>
  </section>
</Layout>
