---
import Layout from "../layouts/Layout.astro"

---

<Layout title="about">
    
    <div class="relative bg-slate-100">

        <div class="xl:mx-auto relative">
            <div class="flex backdrop-blur-xl flex-wrap xl:mx-auto xl:container">
                <div class="w-full py-10 relative xl:mt-10 2xl:pr-24 2xl:pl-0 xl:pl-12 pl-0">
                 
                    <div class="w-full flex flex-col items-start xl:justify-start relative z-20 xl:px-0 px-4 xl:py-0 py-4">
                        <div class="w-full 2xl:pl-48 xl:pt-1">
                            <h1 class="text-2xl md:text-4xl lg:text-6xl font-bold tracking-wider text-gray-800">Contact Us</h1>
                            <div class="w-full md:w-10/12 mt-3">
                                <div class="mt-4 md:mt-8">
                                    <h2 class="text-sm md:text-base text-indigo-700 font-semibold">Address</h2>
                                    <h2 class="text-gray-800 text-base md:text-lg leading-8 tracking-wider mt-2">
                                        133 Main Blvd, Sector J, Phase 6, DHA, Lahore
                                    </h2>
                                </div>
                                <div class="mt-4 md:mt-8">
                                    <h2 class="text-sm md:text-base text-indigo-700 font-semibold">Contact</h2>
                                    <h2 class="text-gray-800 text-base md:text-lg leading-8 tracking-wider mt-2">0321-6955000 (CEO, M. Hamid Younas)</h2>
                                    <h2 class="text-gray-800 text-base md:text-lg leading-8 tracking-wider mt-2">042-37133100 (Tel)</h2>
                                </div>
                                <div class="mt-4 md:mt-8">
                                    <h2 class="text-sm md:text-base text-indigo-700 font-semibold">Email</h2>
                                    <h2 class="text-gray-800 text-base md:text-lg leading-8 tracking-wider mt-2">emadtravels2005@gmail.com</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
    

</Layout>