---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.svelte';
import Hero from '../components/Hero.svelte';
import Body from '../components/Body.svelte';
import Footer from '../components/Footer.svelte';
---

<Layout title="Welcome to Astro.">
	<Navbar />
	<div class="snap-mandatory snap-y">
		<Hero />
		<Body />
		<Footer />
	</div>
</Layout>
