---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Umrah">
    <section class="relative flex flex-col">
        <div class="pb-16 relative bottom-0 bg-maindark mx-auto text-center">
            <!-- Heading -->
            <h2 class="text-4xl text-slate-100 font-extrabold pt-16 pb-8 text-center">
            Umrah Services
            </h2>
          
        
            <p class="pt-3 text-base text-slate-300 sm:px-24 px-10 items-start">
                At Emad Travel & Tours (Pvt) Ltd. We have a complete range of Umrah packages that will provide comfort and convinience to the Umrah Visitors – the Guests of Allah Al-Mighty, at such costs that are most attractive and affordable. Our Umrah Sacred Packages are carefully desigined to cater the needs of Budget Travelers as well as to provide the best and cost worthy services to the Elite & Executive Class Guests.
                <br>
                <br>
                Our all packages include Visa Formalities, Airport meet and assist Services, Airport to Haram Transfers and Booking and Reservation in Hotels- Apartments of Choice “Subject to vailability”. What you have to do is just to Contact Us and one of our Umrah department’s consultant will get back to you within 24 hours with all possible solutions and suggestions.
                <br>
                <br>
                May Allah give oppurtunity to all muslims, especially you, to visit the Holy places as many times as He likes and accept our rituals-Ameen.
            </p>
            
        </div>
    </section>
    <section >
        
    </section>
</Layout>

<style>
    .backe {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:2;
    background: rgb(17,24,39);
    background: linear-gradient(180deg, rgba(17,24,39,0) 0%, rgba(17,24,39,0.12386204481792717) 75%, rgba(17,24,39,1) 100%);
  }
</style>