
  <section id="features" class="bg-slate-100">
    <!-- Flex container -->
    <div
      class="container flex flex-col px-4 mx-auto pt-10 pl-10 space-y-12 md:space-y-0 md:flex-row"
    >
      <!-- What's Different -->
      <div class="flex flex-col space-y-12 md:w-1/2 items-center sm:items-start">
        <h2 class="max-w-md text-4xl font-bold text-center md:text-left lg:pt-40">
          Our Services?
        </h2>
        <p class="max-w-sm text-gray-700 text-center sm:p-0 sm:text-left">
          Ehmad provides many services to compliment our Hajj and Ummrah
          packages since customer satisfaction is of utmost importance to our 
          team.
        </p>
      </div>

      <!-- Numbered List -->
      <div class="flex flex-col space-y-8 md:w-1/2">
           <!-- List Item 1 -->
           <div
           class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row"
         >
           <!-- Heading -->
           <div class="rounded-l-full bg-brightRedSupLight md:bg-transparent">
             <div class="flex items-center space-x-2">
               <div
                 class="px-4 py-2 text-white rounded-full md:py-1 bg-maindark"
               >
                 01
               </div>
               <h3 class="text-base font-bold md:mb-4 md:hidden">
                 Hajj and Umrah
               </h3>
             </div>
           </div>
 
           <div>
             <h3 class="hidden mb-4 text-lg font-bold md:block">
               Hajj and Umrah
             </h3>
             <p class="text-gray-700">
              We are approved hajj group organiser from ministry of hajj Pakistan & Saudi Arabia since 2005. We have served hundreds of satisfied pilgrims from Pakistan and abroad and feel pleasure in serving guests of Allah. 
             </p>
           </div>
         </div>
        <!-- List Item 1 -->
        <div
          class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row"
        >
          <!-- Heading -->
          <div class="rounded-l-full bg-brightRedSupLight md:bg-transparent">
            <div class="flex items-center space-x-2">
              <div
                class="px-4 py-2 text-white rounded-full md:py-1 bg-maindark"
              >
                02
              </div>
              <h3 class="text-base font-bold md:mb-4 md:hidden">
                Ticketing
              </h3>
            </div>
          </div>

          <div>
            <h3 class="hidden mb-4 text-lg font-bold md:block">
              Ticketing
            </h3>
            <p class="text-gray-700">
              Being IATA accredited travel agent, we can handle all travels needs of our esteemed clients for domestic and international destinations with 24/7 facility and competitively low prices.
            </p>
          </div>
        </div>

        <!-- List Item 2 -->
        <div
          class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row"
        >
          <!-- Heading -->
          <div class="rounded-l-full bg-brightRedSupLight md:bg-transparent">
            <div class="flex items-center space-x-2">
              <div
                class="px-4 py-2 text-white rounded-full md:py-1 bg-maindark"
              >
                03
              </div>
              <h3 class="text-base font-bold md:mb-4 md:hidden">
                Hotel Reservations
              </h3>
            </div>
          </div>

          <div>
            <h3 class="hidden mb-4 text-lg font-bold md:block">
              Hotel Reservations
            </h3>
            <p class="text-gray-700">
              To cater all your business and pleasure trips, we can assist you for hotel research and conformations all around the globe as per given/required travel dates and destinations.
            </p>
          </div>
        </div>

        <!-- List Item 3 -->
        <div
          class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row"
        >
          <!-- Heading -->
          <div class="rounded-l-full bg-brightRedSupLight md:bg-transparent">
            <div class="flex items-center space-x-2">
              <div
                class="px-4 py-2 text-white rounded-full md:py-1 bg-maindark"
              >
                04
              </div>
              <h3 class="text-base font-bold md:mb-4 md:hidden">
                 Tours
              </h3>
            </div>
          </div>

          <div>
            <h3 class="hidden mb-4 text-lg font-bold md:block">
              Tours
            </h3>
            <p class="text-gray-700">
              At the movement Emad Travels is catering families on individual basis and are planning to announce group tours for Turkey, Malaysia, Singapore, UAE, Uzbekistan and etc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="accolades" class="bg-slate-100">
    <!-- Container to heading and testm blocks -->
    <div class="max-w-6xl px-5 mx-auto pt-32 pb-10 text-center grid lg:grid-cols-5 md:grid-cols-2 gap-6">
       <div class="rounded-2xl items-center p-6 shadow-xl shadow-slate-900/25 flex flex-col">
         <img src="/ho.png" alt="gov of pakistan" class="h-24 w-30"/>
         <h5>
          <strong>
            Registered with Ministry
            of Religious Affairs
          </strong><br><br>Government of Pakistan
          License # 3144</h5> 
       </div>
       <div class="rounded-2xl items-center p-6 shadow-xl shadow-slate-900/25 flex flex-col">
        <img src="/gop.png" alt="gov of pakistan" class="h-24 md:w-30"/>
        <h5>
         <strong>
          Registered with Department
          of Tourist Services
         </strong><br><br>Government of Pakistan
         DTS # 3086</h5> 
      </div>
      <div class="rounded-2xl items-center p-6 shadow-xl shadow-slate-900/25 flex flex-col">
        <img src="/iata.png" alt="gov of pakistan" class="h-24 md:w-30"/>
        <h5>
         <strong>
          International Air Transport Association
         </strong><br><br>IATA LIC # 27309925</h5> 
      </div>
      <div class="rounded-2xl items-center p-6 shadow-xl shadow-slate-900/25 flex flex-col">
        <img src="/gop.png" alt="gov of pakistan" class="h-24 md:w-30"/>
        <h5>
         <strong>
          Registered as Private
          Limited Company with
         </strong><br><br>Securities & Exchange Commission of Pakistan</h5> 
      </div>
      <div class="rounded-2xl items-center p-6 shadow-xl shadow-slate-900/25 flex flex-col">
        <img src="/sa.png" alt="gov of pakistan" class="h-24 md:w-30"/>
        <h5>
         <strong>
          Registered with
          Ministry of Hajj
         </strong><br><br>Kingdom of Saudi Arabia
         Munazim # 3783</h5> 
      </div>
     
    </div>
    <div></div>
    <div class="max-w-6xl px-5 mx-auto pb-24 text-center justify-center content-center grid lg:grid-cols-4 md:grid-cols-2 gap-6">
      <div class="rounded-2xl max-h-28 flex flex-col items-center p-6 shadow-xl shadow-slate-900/25">
        <img src="/saudi.png" alt="gov of pakistan" class="h-full md:w-30"/>
      </div>
      <div class="rounded-2xl max-h-28 flex flex-col items-center p-6 shadow-xl shadow-slate-900/25">
        <img src="/emirates-airlines.svg" alt="gov of pakistan" class="h-full md:w-30"/>
      </div>
      <div class="rounded-2xl max-h-28 flex flex-col  items-center p-6 shadow-xl shadow-slate-900/25">
        <img src="/fairmont.png" alt="gov of pakistan" class="h-full md:w-30"/>
      </div>
      <div class="rounded-2xl max-h-28 flex flex-col  items-center p-6 shadow-xl shadow-slate-900/25">
        <img src="/Madina.svg" alt="gov of pakistan" class="h-full md:w-30"/>
      </div>
    </div>
  </section>
  <section id="cta">
    <!-- Flex Container -->
    <div
      class="container flex flex-col items-center justify-between px-6 py-24 mx-auto space-y-12 md:py-12 md:flex-row md:space-y-0"
    >
      <!-- Heading -->
      <h2
        class="text-5xl font-bold leading-tight text-center text-white md:text-4xl md:max-w-xl md:text-left"
      >
        Want to perform Umrah?
      </h2>
      <!-- Button -->
      <div>
        <a
          href="/"
          class="p-3 px-6 pt-2 text-brightRed bg-white rounded-full shadow-2xl baseline hover:text-white hover:bg-gray-900"
          >See Packages</a
        >
      </div>
    </div>
  </section>

  <style>
     #cta {
      background-image: url('/cta.svg');
      background-color: black;
      min-height:100%;
      background:linear-gradient(0deg, rgba(36, 34, 35, 0.451), rgba(32, 30, 31, 0.3)), url("/cta.svg");
      background-size:cover;
    }
  </style>